body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.kanban-card {
  border-width: 1px;
  border-style:  solid;
  border-color: #8f8f8f;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  /*box-shadow: 5px 5px 18px #b6b6b6;*/
}

.kanban-col {
  height: 550px;
  border-width: 1px;
  border-style:  solid;
  border-color: #8f8f8f;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 4px 4px 20px #c5c5c5;
}


.kanban-card-btn-remove {
  width: 20px;
  height: 20px;
  padding: 0;
  float: right;
}